@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Hello!</h1>
    <div>This is the index view</div>
    <h1>@Model.CurrentMessge</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
            </td>
            <td>
                @this.Html.ActionLink("Go", "Details", new { id = restaurant.Id}) <!-- HTML helper -->
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a> <!-- tag helper - asp-route-NAME_OF_PARAMETER -->
            </td>
        </tr>
    }
</table>
    <a asp-action="Create">Add</a>
</body>
</html>